<% layout('layout') -%>
<h1>Agendamento Confirmado</h1>
<p>Obrigado, <%= appt.clientName %>!</p>
<p>Serviço: <%= service.name %></p>
<p>Data/Hora: <%= appt.date %></p>
<p>Telefone: <%= appt.phone %></p>
<p>Observações: <%= appt.notes %></p>
<a href="/">Voltar ao início</a>
